*{
    padding: 0;
    margin: 0;
}
header, footer{
    background-color: #260101;
    color:#D9D8D2;
}
.upper-body, .lower-body{
    background-color: #D9D8D2;
    color: #260101;
}

p{
    font-size: 18px;
}
.logo-img{
    max-width: 100px;
    max-height: 75px;
    background-color: #D9D8D2;
    border: 2px solid;
    border-radius: 50%;
}
ul{
    display: flex;
    list-style: none;
    gap: 15px;
    align-items: flex-start;
    padding: 0;

}
h1{
    font-size: 4rem;
    font-weight: 900;
    padding-bottom: 14px;
}
button{
    padding: 5px 25px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    margin-top: 20px;
   
}
.header-button{
    background-color: #592202;
    color: #D9D8D2;
}
.top-header{
    display: flex;
    height: 100px;  
    justify-content: space-between; 
    min-width: 780px;  
}

.header-content{
    display: flex;
    justify-content: space-between;
}
header{
    display: flex;
    flex-direction: column;
    padding: 50px 210px;
    
}
.content-left{
    padding-right: 30px;
}
.main-img{
    border-radius: 4px;
    width: 500px;
    height:auto;
}
h2{
    text-align: center;
    background-color: #D9D8D2;
    color:#260101;
    font-size: 32px;
    font-weight: 900;
    padding: 50px 0px;
}
.upper-body{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 40px;
}
.coffee-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    max-width: 150px;
}
.coffee-img{
    border-radius: 10px;
    border: 4px solid #592202;
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}
.mid-body{
    height:200px;
    background-color: #F2BC79;
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 210px;
    flex-direction: column;
}
q{
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color:#592202;
}
.sign{
    align-self: flex-end;
    font-size: larger;
    font-weight: 900;
    color: #260101;
}
.lower-body{
height: 200px;
display: flex;
justify-content: center;
align-items: center;
}

.lower-content{
    display: flex;
    align-items:center;
    gap: 50px;
    background-color: #592202;
    color: #D9D8D2;
    height: 100px;
    border-radius: 10px;
    padding: 0 200px;
}
.lower-button{
    background-color: #592202;
    border: 2px solid #D9D8D2;
    color: #D9D8D2;
}
h3{
    font-size: 36px;
    font-weight: 900;
    padding-bottom: 12px;

}

footer{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}